@font-face {
  font-family: "gothic-regular";
  font-display: fallback;
  src: url("./GothicA1-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gothic-medium";
  font-display: fallback;
  src: url("./GothicA1-Medium.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gothic-semibold";
  font-display: fallback;
  src: url("./GothicA1-SemiBold.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "nunito-regular";
  font-display: fallback;
  src: url("./NunitoSans-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  font-display: fallback;
  src: url("./NunitoSans-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
